@font-face {
    
    font-family: 'permanent_markerregular';

    src: url('permanentmarker-webfont.woff2') format('woff2'),

         url('permanentmarker-webfont.woff') format('woff');

    font-weight: normal;

    font-style: normal;

}