
@import "bootstrap";

@import "font-awesome";



.navbar {
  
  background: image_url('Dance.jpg');

  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-inverse .navbar-brand {
  
  color: #FFFFFF;

  font-family: 'permanent_markerregular';

  font-size: 26px;
}



.booyah-box {
  
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;

  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;

  box-shadow: 1px 1px 2px 0 #d0d0d0;

  background: #fff;

  border: 1px solid #ccc;

  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;

  margin-top: 10px;

  margin-bottom: 15px;

  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  
  margin: 0;

  padding: 0;

}

body {
  
  background: image_url('subtle_carbon.png');

  font-family: Futura, "Trebuchet MS", Arial, sans-serif;

}

.pagination {

    margin-top: 10px;

    align-items: center;

    justify-content: center;
    
}

.ghost-white-button {
  
   color: #FFF;

   background-color: black;

   border: 2px solid white;

   cursor: pointer;

   &:hover{color: blue}

}

.hyperstyle {
  
  color: orange;

  cursor: pointer;

   &:hover{color: #4933D9}


}


.danger-button {
  
  color: #4933D9;

  cursor: pointer;

   &:hover{color: red}

}


.edit-button {
  
   color: orange;

   cursor: pointer;

   &:hover{color: green}

}

.help-block {

  color: #ff3333;

  background-color: #FFEEEE;

  border-radius: 3px;

  padding: 2px 8px 2px 8px;
  
}


#map {
  height: 300px;
}

label.control-label abbr[title="required"]{
  
  display: none;
}
